* {
  box-sizing: border-box;
}

#header {
  border-color: green;
  width: 100%;
  top: 0px;
  text-align: center;
  font-family: "Merienda", cursive;
}

#header_paragragh {
  font-family: "Dancing Script", cursive;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp4381505.jpg");
  background-size: 100%;
}
